#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keypos_def/keypos_36keys.h"
#include "includes/3x5.dtsi"

/ {
    chosen { zmk,physical-layout = &foostan_corne_5col_layout; };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R      &kp T     &kp Y   &kp U     &kp I      &kp O    &kp P          &kp BSLH
&kp LCTRL  &kp A  &kp S  &kp D     &kp F      &kp G     &kp H   &kp J     &kp K      &kp L    &kp LS(COLON)  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V      &kp B     &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH       &kp GRAVE
                         &kp LALT  &kp SPACE  &tog 2    &tog 1  &kp BSPC  &kp RET
            >;
        };

        layer_1 {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4        &kp N5  &kp N6    &kp N7    &kp N8    &kp N9  &kp N0     &kp MINUS  &kp EQUAL
&trans  &trans  &trans  &trans        &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp LBKT   &kp RBKT
&trans  &trans  &trans  &trans        &trans  &trans    &trans    &trans    &trans  &trans     &trans     &kp ESCAPE
                        &kp LEFT_WIN  &trans  &trans    &trans    &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
